body {
  background-color: #9cc9d8;
}
.wrap {
  width: 1280px;
  margin: 0 auto;
}
#header .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_top .logo {
  display: flex;
  flex-direction: row;
  position: relative;
}
#header .header_top .logo img {
  position: absolute;
  top: 25px;
}
#header .header_top .logo h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  color: #12303a;
  margin-left: 130px;
  font-size: 36px;
  padding: 25px 0;
  text-transform: uppercase;
}
#header .header_top .menu_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .header_top .sf-menu {
  margin-bottom: 0px;
}
#header .header_top .sf-menu li {
  background: none;
}
#header .header_top .sf-menu a {
  background-color: #fff;
  padding: 7px;
  font-family: 'Fira Sans', sans-serif;
  color: #12303a;
}
#header .header_top .sf-menu a.lang:before {
  display: inline-block;
  height: 12px;
  width: 18px;
  background-position: 0px;
  margin-right: 4px;
  content: '';
}
#header .header_top .sf-menu a.lang-ua:before {
  background-image: url(../images/flags/icons8-ukraine-18.png);
}
#header .header_top .sf-menu a.lang-de:before {
  background-image: url(../images/flags/icons8-germany-18.png);
}
#header .header_top .sf-menu a.lang-en:before {
  background-image: url(../images/flags/icons8-usa-18.png);
}
#header .header_top .sf-menu a.lang-sk:before {
  background-image: url(../images/flags/icons8-slovakia-18.png);
}
#header .header_top .sf-menu ul {
  min-width: 10px;
}
#header .header_top .sf-menu ul li {
  background: #fff;
}
#header .header_top .header_menu {
  display: flex;
  flex-direction: row;
}
#header .header_top .header_menu li {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 0 10px;
}
#header .header_top .header_menu li a {
  color: #12303a;
}
#header .header_center {
  background: url("../images/header_bg.jpg") center center no-repeat;
  min-height: 300px;
  width: 100%;
  background-size: cover;
}
#header .header_center .wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .header_center .plea {
  width: 50%;
}
#header .header_center .plea h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #12303a;
  line-height: 70px;
  text-transform: uppercase;
  padding: 120px 0px;
}
#header .header_center .button a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #12303a;
  background-color: #f3e138;
  padding: 24px 103px;
  font-weight: bold;
  border-radius: 64px;
  text-transform: uppercase;
}
#content .section {
  margin-top: 30px;
}
#content .section .sec_header {
  margin-left: -5000px;
}
#content .section .sec_header h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #12303a;
  font-weight: bold;
  background-color: #f3e138;
  padding: 30px 30px 30px 5030px;
  display: inline-block;
  text-transform: uppercase;
}
#content .section .sec_content {
  display: flex;
  font-family: 'Fira Sans', sans-serif;
}
#content .section .sec_content .content_text {
  width: 50%;
  padding: 30px;
}
#content .section .sec_content .content_text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
#content .section .sec_content .content_text p {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 15px;
}
#content .section .sec_content .content_text p:last-child {
  padding-bottom: 0px;
}
#content .section .sec_content .testimonials p span {
  display: inline-block;
  min-width: 160px;
}
#content .section .sec_content .testimonials p span img {
  height: 40px;
}
#content .section .sec_content .sec_dops {
  padding-top: 30px;
  width: 50%;
}
#content .haslo {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 120px;
}
#content .haslo h1,
#content .haslo h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#content .haslo h1 {
  font-size: 50px;
  color: #f3e138;
  margin-top: 20px;
}
#content .haslo h2 {
  font-size: 30px;
  color: #12303a;
}
#content .zvit_items {
  display: flex;
  flex-wrap: wrap;
}
#content .zvit_items .zvit-item {
  width: 20%;
  margin: 20px;
}
#content .zvit_items .zvit-item a {
  font-family: 'Fira Sans', sans-serif;
  color: #12303a;
}
#content .zvit_items .zvit-item .img {
  width: 100%;
  height: 120px;
  background-size: cover;
  margin-bottom: 10px;
}
#content #accounts .tabs-component {
  margin: 10px 0;
}
#content #accounts .tabs-component ul {
  padding: 0px;
}
#content #accounts .tabs-component ul li {
  position: relative;
}
#content #accounts .tabs-component ul .tabs-component-tab-a {
  font-size: 12px;
}
#content #accounts .tabs-component .tabs-component-panels {
  position: relative;
  padding: 30px ;
}
#content #accounts .tabs-component .tabs-component-panels section {
  word-break: break-word;
}
#footer {
  background-color: #12303a;
  margin-top: 60px;
}
#footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .company {
  font-family: 'Fira Sans', sans-serif;
}
#footer .company h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
#footer .social ul {
  display: flex;
}
#footer .social ul li {
  padding: 5px;
}
.zvit #header .header_center {
  background: url("../images/header_bg.jpg") center center no-repeat;
  min-height: 160px;
  width: 100%;
  background-size: cover;
}
.zvit #header .header_center .wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 160px;
}
.zvit #header .header_center .button {
  height: 72px;
}
.zvit #header .header_center .button a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #12303a;
  background-color: #f3e138;
  padding: 24px 103px;
  font-weight: bold;
  border-radius: 64px;
  display: inline-block;
}
.wpcf7-form {
  width: 65%;
}
.wpcf7-form div.wpcf7-response-output {
  margin: 10px 0;
}
.wpcf7-form-control {
  margin: 7px 0 15px 0;
}
.wpcf7-form-control {
  display: block;
  width: calc(100% - 25px);
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wpcf7-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wpcf7-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.wpcf7-form-control:-ms-input-placeholder {
  color: #999;
}
.wpcf7-form-control::-webkit-input-placeholder {
  color: #999;
}
.wpcf7-form-control[disabled],
.wpcf7-form-control[readonly],
fieldset[disabled] .wpcf7-form-control {
  background-color: #eee;
  opacity: 1;
}
.wpcf7-form-control[disabled],
fieldset[disabled] .wpcf7-form-control {
  cursor: not-allowed;
}
.wpcf7-text {
  height: 34px;
}
textarea[name='your-message'] {
  min-height: 90px;
  height: 90px;
}
.wpcf7-submit {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0099e5;
  border-color: #0099e5;
  color: #fff;
  padding: 10px 0;
}
.grecaptcha-badge {
  visibility: hidden;
}
