@import "smart-grid";
#recorddiv11328153 {
  height: auto;
  background-image: -webkit-linear-gradient(top, #ccc, #777);
  background-image: -moz-linear-gradient(top, #ccc, #777);
  background-image: -o-linear-gradient(top, #ccc, #777);
  background-image: -ms-linear-gradient(top, #ccc, #777);
  background-image: linear-gradient(top, #ccc, #777);
}
#coverCarry11328153{
	.row-flex();
	.align-items(center);
	.justify-content(center);

	margin: 0;
	height: auto;

	.t472__title { color: #fffc00; margin: 20px 0px; line-height: 45px; }
	.t472__descr{color: #fffc00; margin: 20px 0px; line-height: 25px;font-size: 22px;}

	.m-container {
		.row-flex();
		.justify-content(center);
		.align-content(center);

		max-width: 1200px;
		width: 100%;
		margin: 20px auto;

		&.flex-items-right{
			.justify-content(flex-end);
			.align-content(flex-end);

			.t351__price__item.t-heading_xs div{font-size: 30px}
			.t351__descr{
				&>div{
					line-height:18px;
				}
				p{
					line-height:12px;
					em{
						font-size: 12px;
					}
				} 				
			}

		}

		.sm-block({
			.justify-content(center);
		});

		.m-col{
			.size(4);
			.size-md(10);
			.size-sm(12);
			.size-xs(12);

			text-align: center;

			// padding: 35px; 
			background-color: #fffc00;
			margin: 0 10px;

			.md-block({
				margin-top: 20px;
			});

			.sm-block({
				margin-top: 20px;

				.t-name_md{
					font-size: 30px;
				};

				.t351__price__item.t-heading_xs p{
					font-size: 10px;
				}
				.t351__price__item.t-heading_xs div{
				    font-size: 25px;
				}
			});

			.xs-block({
				margin-top: 20px;

				.t-name_md{
					font-size: 30px;
				};

				.t351__price__item.t-heading_xs p{
					font-size: 10px;
				}
				.t351__price__item.t-heading_xs div{
				    font-size: 25px;
				}

			});

			.t351__content{
				padding: 35px 35px 0px 35px;
			}

			.t351__content + div{
				padding: 0 35px 35px;
			}

			.t351__imgwrapper{
				height: 310px;

				.sm-block({
					height: 280px;
				});
				.xs-block({
					height: 240px;
				});

                .lentocka{
                    position: absolute;
                    bottom:-24px;
                    right:-34px;
                    z-index:2;
                }
			}
			.t351__textwrapper{
				font-size: 14px;

				p{
					line-height: 16px;
					margin-bottom: 10px;

					&.actiany{
						line-height: 21px;
					}

					small{
						font-size: 12px;
					}
				}
			}
			.t351__price__wrapper{
				height: 80px;

				&> p{
				    color: #000;
				    margin: 12px 0 4px 23px;
				    text-align: left;
				}

				.sm-block({
					height: 62px;
				});
				.xs-block({
					height: 62px;
				});

				.t351__price{
					.sm-block({
						width: 40%;
					});
					.xs-block({
						width: 40%;
					});				
					p {
						font-size: 11px;
						.sm-block({
							font-size: 11px;
						});
						.xs-block({
							font-size: 9px;
						});						
					}

					div {
						font-size: 28px;
						.sm-block({
							font-size: 25px;
						});
						.xs-block({
							font-size: 22px;
						});								
					}

				}
			}

			.t346__submit{display: block;}

			a.scrolllink{
				color:#fff;
				display: inline-block;
				font-family: 'ALSS', Arial, sans-serif;
				margin-top: 10px;
				font-weight: bold;
				// border-bottom: 2px dashed;
				background-color: #c40089;
				border-radius: 10px;
				padding: 2px 6px;				
			}
			a.corp_podarki{
				color:#fff;
				margin-top: 10px;
				display: inline-block;
				font-family: 'ALSS', Arial, sans-serif;	
				font-weight: bold;
				// border-bottom: 2px dashed;
				background-color: #c40089;
				border-radius: 10px;
				padding: 2px 4px;
			}
		}
	}
}
#coverCarry11328153.love-man-lady-sect{

	flex-direction: column;

	.sect-title{
		margin-top: 30px;

		.xs-block({
			width: 80%;
		});

		.t472__title{
			margin-bottom: 12px;
			padding: 10px 20px;
		    background: #fffc00;

			.xs-block({
				font-size:22px;
				padding: 10px 16px;
			});		    
		}
	}
}
#coverCarry11328153.podpiska-section{
	padding: 60px 0px;
	flex-direction: column;

	.t472__title{
		margin-bottom: 2px; 
	}
	.t-title_md{
		font-size: 40px;
		color: #fffc00;
	}
	.t472__descr{
		margin-bottom: 50px;
		color: #fffc00;
	}

	.xs-block({
		.t472__title{
			margin-bottom: 2px; 
		}
		.t-title_md{
		    line-height: 32px;
	        margin-bottom: 20px;
		}
		.t472__descr{
			margin-bottom: 0px;
			line-height: 22px;
		}
	});
}
#allrecords {
.t461__additional_social_links_item{

	.dropdown-toggle{
	    font-size: 14px;
	    font-weight: 600;
	    text-transform: uppercase;
	    color: #fffc00;
	    font-family: 'Roboto', sans-serif;
	    line-height: 30px;
	    cursor: pointer;
	    i{
	    	font-size: 24px;
		    vertical-align: middle;
	    }
	}
	.dropdown{
		ul{
			padding-left: 0px;
		}
	}



}
	
	#rec11308798{
		.t472__title{
			margin-bottom: 20px;
		}
		.t472__descr{
			font-size: 20px;
			line-height: 26px;

			p{
				margin-bottom: 10px;
			}
		}

	}

    #rec11140811{
        .t-title_md{
        	color: #ffffff;
		    line-height: 70px;
		    font-weight: 500;
		    padding-top: 50px;
		    padding-bottom: 20px;
		    text-transform: uppercase;
		    opacity: 1;

		    font-size: 56px;
		    word-break: break-word;

		    span{
		    	color: rgb(255, 252, 0);
		    	font-size: 65px;
		    	.sm-block({
	                font-size:26px;
	            });

		    	&.t-title_md-span{

		    	}
		    }

            .sm-block({
                font-size:26px;
                line-height: 28px;
                padding-top: 134px;
            });
            .start_main_dig{
                .sm-block({
                    font-size:38px;
                });  
            }
            .start_main{
                .sm-block({
                    font-size:32px;
                });                    
            }
        }
        .t181__descr{
        	color:#ffffff;font-weight:500;padding-top:30px;opacity:1;
        	div{
        		font-size:24px;
        		font-weight: 400;
        		.sm-block({
                    font-size:18px;
                    line-height: 22px;
                });
        	}
            ul{
                li{
                    font-size: 24px;
                    font-weight: normal;
                    line-height: 24px;
                    margin-top: 10px;
                    .sm-block({
                        font-size:16px;
                        line-height: 16px;
                    });
                }
            }
        }
    }

	.sert{
		.row-flex();
		.justify-content(center);

		margin: 0;

		div{
			margin-top: 10px;
			width: auto;
			background-color: transparent;
			border-bottom: 2px dashed;
			color: #209b41;
			padding: 0px;
		    line-height: 30px;
		}
	}
}
#recSertificat{
	.t330__blockbutton{

		.t330__submit{
			width: 48%;
			padding: 1px;
		}
	}
}
.t454__rightmenuwrapper, .t454__leftmenuwrapper{
	.t454__list_item{
		padding-left: 0px;
	}
}
#podrobnosti-goto-block{
	padding: 0px 25px;

	.xs-block({
		height: 24px;
	});

	td{
		div{
			width: auto;
			background-color: transparent;
			border-bottom: 2px dashed;
			color: #ffffff;
			padding: 0px;
		    line-height: 24px;	
		}
	}
}
#allrecords .t454__maincontainer{
	.md-block({
		padding-bottom:0px;
	});
	.t461__additional_social_links_wrap{
		.md-block({
			position: relative;
			margin-top: 18px;
			display: inline-block;
			padding-left: 24px;

			svg path{
				fill: #ff3d8b;
			}

			.dropdown-toggle{
				color: #ff3d8b;
			}
		});
		.sm-block({
			.t461__contact{
				p{
					color:#000000;
					text-align:center;
				}
			}
		});
	}	
}
// можно поподробнее
#rec11324657{

	padding-top:30px;
	padding-bottom:45px;

	.t022{
		padding-bottom: 30px;
	}

	.fs22{
		p{
			font-size: 18px;
			line-height: 20px;
			font-weight: 400;

			.xs-block({
				font-size: 14px;
				line-height: 16px;
			});
		}
	}
}
// СЕКЦИЯ С ВЫБОРОМ КОРБОЧКИ
#rec13492571, #rec13492582, #recLoveManLady{
	.t351__descr{
		word-break: normal;
	}
	.t351{
		a.scrolllink{
			color:#fff;
			display: inline-block;
			font-family: 'ALSS', Arial, sans-serif;
			margin-top: 10px;
			font-weight: bold;
			// border-bottom: 2px dashed;
			background-color: #c40089;
			border-radius: 10px;
			padding: 2px 6px;				
		}
		a.corp_podarki{
			color:#fff;
			margin-top: 10px;
			display: inline-block;
			font-family: 'ALSS', Arial, sans-serif;	
			font-weight: bold;
			// border-bottom: 2px dashed;
			background-color: #c40089;
			border-radius: 10px;
			padding: 2px 4px;
		}

        .t351__title{
            div{
                font-size: 30px;
                line-height: 20px;
                height: 40px;
                .sm-block({
                    font-size:30px;
                });
                small{
                    font-size: 14px;
                    .sm-block({
                        font-size:14px;
                    });
                }
            }
        }
	}
	.base_price {
	  font-family: 'Roboto', sans-serif;
	  font-weight: 600;
	  font-size: 36px;
	  color: #000;
	  margin: 10px 0;
	}
	.t-product__option-variants {
	  position: relative;
	}
	.t-product__option-variants select {
	  width: 50%;
	  box-sizing: border-box;
	  cursor: pointer;
	  height: 54px;
	  padding: 0 45px 0 20px;
	  font-family: 'ALSS', Arial, sans-serif;
	  font-size: 16px;
	  line-height: 1.33;
	  outline: 0;
	  border: 0;
	  border-radius: 0;
	  background: transparent;
	  -webkit-appearance: none;
	  appearance: none;
	  -moz-appearance: none;
	  color: #000000;
	  border: 1px solid #c9c9c9;
	  background-color: #ffffff;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	}
	.t-product__option-variants:after {
	  content: ' ';
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 6px 5px 0 5px;
	  border-color: #000 transparent transparent transparent;
	  position: absolute;
	  right: 30%;
	  top: 0;
	  bottom: 0;
	  margin: auto;
	  pointer-events: none;
	}
}
#rec13492571{
	.t-container{
		display: flex;
		justify-content: space-around;
		.sm-block({
			display: block;
		});

		.t330__blockbutton{
			height:auto;
		}
	}
}
// owl-carousel
#rec13492582{
    .carousel-wrapper{
        position: relative;
        // display: none;
        .sm-block({
            width:100%;
        });

        .t351__title{
            div {
                line-height: 30px;
                height: 60px;
            }
        }

        .t351__content{
        	min-height: 785px;
        	.sm-block({
	            min-height:585px;
	        });
        }
        .base_price {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 36px;
            color: #000;
            margin:10px 0;
        }
        .t-product__option-variants{
            position: relative;
            select{
                width: 50%;
                box-sizing: border-box;
                cursor: pointer;
                height: 54px;
                padding: 0 45px 0 20px;
                font-family: 'ALSS',Arial,sans-serif;
                font-size: 16px;
                line-height: 1.33;
                outline: 0;
                border: 0;
                border-radius: 0;
                background: transparent;
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                color: #000000;
                border: 1px solid #c9c9c9;
                background-color: #ffffff;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
            &:after{
                content: ' ';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: #000 transparent transparent transparent;
                position: absolute;
                right: 30%;
                top: 0;
                bottom: 0;
                margin: auto;
                pointer-events: none;
            }
        }

        .item{
            .sm-block({
                max-width: 100%;
                padding: 20px;
            });

            .t351__title{
                 .sm-block({
                    word-break: normal;
                });               
            }
        }

    	.mev_owl-controls{
    	    position: absolute;
    		top: 265px;
    	    height: 0px;
    	    left: 0px;
    	    right: 0px;
    	    z-index: 99;
            .sm-block({
                
            });
    		& > div{
    			position: absolute;
    			opacity:1;
    		    background-image: none;
    		    color: #000;
    		    line-height: 56px;
    		    text-align: center;
    		    font-size: 35px;
    		    height: 60px;
    		    width: 60px;
    		    margin-top: -30px;
    		    z-index: 999;
                .sm-block({
                    width: 20px;
                });
    		}
    		.owl-next {
    		    right: -40px;
    		    left: auto;
    		    .sm-block({
    				right: 0px;
    			});
    		}
    		 .owl-prev {
    		    left: -40px;
    		    .sm-block({
    				left: 0px;
    			});
    		} 

    	}
    }
}
#form11607161{
	.t330__blockinput{
		p{
			margin-bottom: 7px;
			text-align: left;
		}
	}
}
// блок Что Внутри
#allrecords #recorddiv11328588{
    .t-descr{
        a{
            color: #fff;
            display: inline-block;
            font-size: 14px;
            font-family: 'ALSS', Arial, sans-serif;
            font-weight: bold;
            margin-top: 10px;
            background-color: #c40089;
            border-radius: 10px;
            padding: 2px 5px;
            .sm-block({
                font-size:22px;
            });
        }
    }
}

#rec11140809{
    .t461__additional_social_links_wrap {
        position: absolute;
        right: 10px;
        bottom: -173px;
        z-index: 2;
        .sm-block({
            bottom: 14px;
        });

        .t461__contact{
            color:rgb(255, 252, 0);
            text-align: right;
            padding-right: 8px;
            max-width: 200px;
            margin-top: 15px;
        }
        .t461__contact p{
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            span {
                color: #ffffff;
                .sm-block({ 
                    color: #000000;
                });
            }
        }
    }
}
#rec24848862{
    .t-cover__filter {
        height: 100vh;
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7fffffff', endColorstr='#33000000');
    }
}
// БЛОКИ СЧАСТЛИВЫЕ КЛИЕНТЫ И ЛЮБИМЫЕ МЕРОПРИЯТИЯ
#rec254145207{
    .t396__artboard {
        height: 1360px;
        background-color: #fffc00;
    }

    .t396__filter {
        height: 1360px;
    }

    .t396__carrier {
        height: 1360px;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 1199px) {
        .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 479px) {
        .t396__artboard {
            height: 1320px;
        }

        .t396__filter {
            height: 1320px;
        }

        .t396__carrier {
            height: 1320px;
        }
    }

    .tn-elem[data-elem-id="1606302475449"] {
        z-index: 3;
        top: 305px;
        left: calc(50% - 600px + 20px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475449"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475449"] {
            top: 240px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475455"] {
        z-index: 4;
        top: 285px;
        left: calc(50% - 600px + 313px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475455"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475455"] {
            top: 436px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475460"] {
        z-index: 5;
        top: 305px;
        left: calc(50% - 600px + 606px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475460"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475460"] {
            top: 240px;
            left: calc(50% - 160px + 166px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475465"] {
        z-index: 6;
        top: 285px;
        left: calc(50% - 600px + 899px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475465"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475465"] {
            top: 992px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475471"] {
        z-index: 7;
        top: 685px;
        left: calc(50% - 600px + 20px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475471"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475471"] {
            top: 698px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475476"] {
        z-index: 8;
        top: 792px;
        left: calc(50% - 600px + 313px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475476"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475476"] {
            top: 499px;
            left: calc(50% - 160px + 166px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475481"] {
        z-index: 9;
        top: 807px;
        left: calc(50% - 600px + 606px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475481"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475481"] {
            top: 753px;
            left: calc(50% - 160px + 166px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606302475486"] {
        z-index: 10;
        top: 750px;
        left: calc(50% - 600px + 899px);
        width: 280px;
    }

    .tn-elem[data-elem-id="1606302475486"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606302475486"] {
            top: 981px;
            left: calc(50% - 160px + 166px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1606303023222"] {
        color: #000000;
        text-align: center;
        z-index: 11;
        top: 92px;
        left: calc(50% - 600px + 215px);
        width: 770px;
    }

    .tn-elem[data-elem-id="1606303023222"] .tn-atom {
        color: #000000;
        font-size: 52px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606303023222"] {
            top: 75px;
            left: calc(50% - 160px + 0px);
            width: 320px;
        }

        .tn-elem[data-elem-id="1606303023222"] .tn-atom {
            font-size: 30px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1606415416513"] {
        color: #000000;
        text-align: center;
        z-index: 13;
        top: 195px;
        left: calc(50% - 600px + 385px);
        width: 430px;
    }

    .tn-elem[data-elem-id="1606415416513"] .tn-atom {
        color: #000000;
        font-size: 24px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1606415416513"] {
            top: 180px;
            left: calc(50% - 160px + 10px);
            width: 300px;
        }

        .tn-elem[data-elem-id="1606415416513"] .tn-atom {
            font-size: 16px;
            line-height: 1.25;
        }
    }
}
#rec257542453{
    .t396__artboard {
        height: 1405px;
        background-color: #ffffff;
    }

    .t396__filter {
        height: 1405px;
    }

    .t396__carrier {
        height: 1405px;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 1199px) {
        .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 479px) {
        .t396__artboard {
            height: 1465px;
        }

        .t396__filter {
            height: 1465px;
        }

        .t396__carrier {
            height: 1465px;
        }
    }

    .tn-elem[data-elem-id="1607074125149"] {
        z-index: 1;
        top: 1018px;
        left: calc(50% - 600px + 19px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125149"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125149"] {
            top: 638px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125180"] {
        z-index: 2;
        top: 310px;
        left: calc(50% - 600px + 324px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125180"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125180"] {
            top: 230px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125187"] {
        z-index: 3;
        top: 310px;
        left: calc(50% - 600px + 629px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125187"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125187"] {
            top: 842px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125193"] {
        z-index: 4;
        top: 664px;
        left: calc(50% - 600px + 19px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125193"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125193"] {
            top: 434px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125200"] {
        z-index: 5;
        top: 1018px;
        left: calc(50% - 600px + 629px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125200"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125200"] {
            top: 1250px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125209"] {
        z-index: 6;
        top: 664px;
        left: calc(50% - 600px + 934px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125209"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125209"] {
            top: 1046px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125217"] {
        z-index: 7;
        top: 310px;
        left: calc(50% - 600px + 934px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125217"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125217"] {
            top: 842px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125224"] {
        z-index: 8;
        top: 664px;
        left: calc(50% - 600px + 324px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125224"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125224"] {
            top: 434px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125235"] {
        z-index: 9;
        top: 310px;
        left: calc(50% - 600px + 19px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125235"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125235"] {
            top: 230px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125246"] {
        z-index: 10;
        top: 1018px;
        left: calc(50% - 600px + 934px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125246"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125246"] {
            top: 1250px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125254"] {
        z-index: 11;
        top: 664px;
        left: calc(50% - 600px + 629px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125254"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125254"] {
            top: 1046px;
            left: calc(50% - 160px + 10px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074125261"] {
        z-index: 12;
        top: 1018px;
        left: calc(50% - 600px + 324px);
        width: 245px;
    }

    .tn-elem[data-elem-id="1607074125261"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074125261"] {
            top: 638px;
            left: calc(50% - 160px + 165px);
            width: 145px;
        }
    }

    .tn-elem[data-elem-id="1607074798635"] {
        color: #000000;
        z-index: 13;
        top: 567px;
        left: calc(50% - 600px + 81px);
        width: 120px;
    }

    .tn-elem[data-elem-id="1607074798635"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074798635"] {
            top: 383px;
            left: calc(50% - 160px + 22px);
        }

        .tn-elem[data-elem-id="1607074798635"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074798635"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074891803"] {
        color: #000000;
        text-align: center;
        z-index: 14;
        top: 567px;
        left: calc(50% - 600px + 361px);
        width: 170px;
    }

    .tn-elem[data-elem-id="1607074891803"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074891803"] {
            top: 383px;
            left: calc(50% - 160px + 172px);
            width: 130px;
        }

        .tn-elem[data-elem-id="1607074891803"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074891803"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074916092"] {
        color: #000000;
        text-align: center;
        z-index: 15;
        top: 567px;
        left: calc(50% - 600px + 657px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607074916092"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074916092"] {
            top: 998px;
            left: calc(50% - 160px + -13px);
        }

        .tn-elem[data-elem-id="1607074916092"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074916092"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074931476"] {
        color: #000000;
        text-align: center;
        z-index: 16;
        top: 567px;
        left: calc(50% - 600px + 961px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607074931476"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074931476"] {
            top: 998px;
            left: calc(50% - 160px + 162px);
            width: 150px;
        }

        .tn-elem[data-elem-id="1607074931476"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074931476"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074937895"] {
        color: #000000;
        text-align: center;
        z-index: 17;
        top: 922px;
        left: calc(50% - 600px + 46px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607074937895"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074937895"] {
            top: 590px;
            left: calc(50% - 160px + -13px);
        }

        .tn-elem[data-elem-id="1607074937895"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074937895"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074937901"] {
        color: #000000;
        text-align: center;
        z-index: 18;
        top: 922px;
        left: calc(50% - 600px + 361px);
        width: 170px;
    }

    .tn-elem[data-elem-id="1607074937901"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074937901"] {
            top: 590px;
            left: calc(50% - 160px + 177px);
            width: 120px;
        }

        .tn-elem[data-elem-id="1607074937901"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074937901"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074937908"] {
        color: #000000;
        text-align: center;
        z-index: 19;
        top: 922px;
        left: calc(50% - 600px + 657px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607074937908"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074937908"] {
            top: 1202px;
            left: calc(50% - 160px + -13px);
        }

        .tn-elem[data-elem-id="1607074937908"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074937908"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607074937917"] {
        color: #000000;
        text-align: center;
        z-index: 20;
        top: 922px;
        left: calc(50% - 600px + 961px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607074937917"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607074937917"] {
            top: 1202px;
            left: calc(50% - 160px + 142px);
        }

        .tn-elem[data-elem-id="1607074937917"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607074937917"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075013516"] {
        color: #000000;
        text-align: center;
        z-index: 21;
        top: 1276px;
        left: calc(50% - 600px + 46px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607075013516"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075013516"] {
            top: 794px;
            left: calc(50% - 160px + 22px);
            width: 120px;
        }

        .tn-elem[data-elem-id="1607075013516"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607075013516"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075013523"] {
        color: #000000;
        text-align: center;
        z-index: 22;
        top: 1276px;
        left: calc(50% - 600px + 361px);
        width: 170px;
    }

    .tn-elem[data-elem-id="1607075013523"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075013523"] {
            top: 794px;
            left: calc(50% - 160px + 152px);
        }

        .tn-elem[data-elem-id="1607075013523"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607075013523"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075013527"] {
        color: #000000;
        text-align: center;
        z-index: 23;
        top: 1276px;
        left: calc(50% - 600px + 657px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607075013527"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075013527"] {
            top: 1406px;
            left: calc(50% - 160px + -13px);
        }

        .tn-elem[data-elem-id="1607075013527"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607075013527"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075013530"] {
        color: #000000;
        text-align: center;
        z-index: 24;
        top: 1276px;
        left: calc(50% - 600px + 961px);
        width: 190px;
    }

    .tn-elem[data-elem-id="1607075013530"] .tn-atom {
        color: #000000;
        font-size: 20px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075013530"] {
            top: 1406px;
            left: calc(50% - 160px + 142px);
        }

        .tn-elem[data-elem-id="1607075013530"] {
            text-align: center;
        }

        .tn-elem[data-elem-id="1607075013530"] .tn-atom {
            font-size: 14px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075583268"] {
        color: #000000;
        text-align: center;
        z-index: 25;
        top: 92px;
        left: calc(50% - 600px + 215px);
        width: 770px;
    }

    .tn-elem[data-elem-id="1607075583268"] .tn-atom {
        color: #000000;
        font-size: 52px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075583268"] {
            top: 75px;
            left: calc(50% - 160px + 0px);
            width: 320px;
        }

        .tn-elem[data-elem-id="1607075583268"] .tn-atom {
            font-size: 24px;
            line-height: 1.25;
        }
    }

    .tn-elem[data-elem-id="1607075583273"] {
        color: #000000;
        text-align: center;
        z-index: 26;
        top: 195px;
        left: calc(50% - 600px + 45px);
        width: 1110px;
    }

    .tn-elem[data-elem-id="1607075583273"] .tn-atom {
        color: #000000;
        font-size: 24px;
        font-family: 'FuturaPT',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 479px) {
        .tn-elem[data-elem-id="1607075583273"] {
            top: 128px;
            left: calc(50% - 160px + 10px);
            width: 300px;
        }

        .tn-elem[data-elem-id="1607075583273"] .tn-atom {
            font-size: 16px;
            line-height: 1.25;
        }
    }
}

#reqPartnery{
    background-color: #ffffff;
    background-image: url("/imgs/partners_block/partners_full_bg.jpg");
    background-size: contain;
    min-height: 100vh;

    .mev_row-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .sm-block({
        background-image:none;
    });

    .partn_title{
        background-color: #ffffff;
        background: url("/imgs/partners_block/partn_title_bg.png") no-repeat;
        background-size: contain;
        min-width: 552px;
        margin-top: 30px;
        .sm-block({
            min-width: 100%;
        });
        h3{
            font-family: 'Roboto';
            font-size: 30px;
            line-height: 66px;
            .sm-block({
                font-size: 25px;
                line-height: 45px;
            });
        }
    }
    .partn_desc{
        h4{
            font-size:18px;
            .sm-block({
                font-size:14px;
            });
        }
    }
    .partn_two_icons{
        .mev_row-flex();
        justify-content: space-between;
        align-items: center;

        margin-top: 20px;
        margin-bottom: 30px;
        min-width:580px;

        .sm-block({
            margin-top: 0px;
            min-width:100%;
        });
        .md-block({
            flex-direction:column;
        });
    }
    .icon_wrapper{
        position:relative;
        max-width: 300px;
        text-align: center;
        margin-top:20px;
        .sm-block({
            margin-top: 40px;
            max-width: 100%;
        });

        img{
            display: inline-block;
        }
        .under_icon_text{
            margin-top: 20px;
            font-family: 'Roboto';
            color:#000000;
            font-size: 18px;
            .sm-block({
                font-size: 14px;
                line-height:16px;
            });
        }
        .more_of_that{
            position:absolute;
            top: 15px;
            left: -150px;
            .sm-block({
                max-width: 100%;
                left: -90px;
                top: 70px;
            });
        }
    }
}
// КОНТАКТЫ
#rec11340159{
    .t433__mainblock{
        margin:0 auto; 
        background-color:#fffc00;
        display:flex;
        .sm-block({
            flex-direction: column;
        });

        .t433__col_text{
            .t433__descr{
                font-size:20px;
                line-height:32px;
                .sm-block({
                    font-size:14px;
                    line-height:16px;
                });

                .t825__messenger{
                    position: fixed;
                    bottom: 12px;
                    right: 22px;
                    z-index: 11;
                    &.t825__telegramm{
                    	right:90px;
                    }
                }
            }
        }
    }
}

#recorddiv11140811{
    .temp_akciya{
        font-size: 28px;
        margin-bottom: 26px;
        line-height: 28px;
        color: #ff3d8b;
        font-weight: bold;
        .sm-block({
            text-align:center;
        });
    }
}
.t351__content{
    .temp_akciya{
        display: inline-block;
        font-size: 16px;
        margin-bottom: 8px;
        line-height: 16px;
        color: #000000;
        font-weight: bold;
        margin-top: 10px;
        .sm-block({
            text-align:center;
        });
    }
}

.actiany{
	font-family: 'ALSS', Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
    margin-bottom: 0px;
    line-height: 21px;
	.sm-block({
        text-align:center;
        font-size: 16px;
    });
}

#akciyany{
	display: flex;
	justify-content: flex-end;
    align-items: center;

	background-image: url(/imgs/ny23-27akciya.jpg);
    height: 80vh;
    background-size: cover;
    .sm-block({
        background-size: auto;
        justify-content: center;
    });


    &>div{
    	display: flex;
    	flex-direction: column;
	    align-items: center;

    	width: 50%;
    	color: #fffc00;

    	h3{
    		text-transform: uppercase;
    		color: #fffc00;
    	}

    	.sm-block({
	        width: 100%;
	    });
    }
}